@import "main";

div{
    display: grid;
    grid-template-rows: auto;
<<<<<<< HEAD
    gap: 2rem;
    margin: 5rem;
    justify-content: center;

    @include max-lg{
        gap:4rem;
    }
}
=======
}
>>>>>>> 463d687 (step: styling buttons in search card)
