@import "main";

section {
  border-radius: 0.5rem;
  background-color: $white;
  margin: -3rem 5rem 5rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: row;
  @include max-lg {
    gap: 4rem;
    justify-content: flex-start;
    padding-left: 0.5rem;
  }

  @include max-md {
    gap: 0.5rem;
    justify-content: space-evenly;
  }

  #buttons {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0.5rem;

    @include max-lg {
      grid-template-columns: auto auto auto auto;
    }

    @include max-md {
      grid-template-columns: auto auto;
    }

    @include max-sm {
      grid-template-columns: auto;
    }
  }

  #clear {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: $league-Bold;
    color: $ash;
    cursor: pointer;
    position: absolute;
    right: 8rem;
    justify-content: center;
  }

  #clear:hover{
    color: $deep-green;
  }
}
