<section>
  <img src="{{ data.icon }}" alt="" />
  <span id="details">
    <div id="details-div">
      <small id="company-name">{{ data.companyName }}</small>
      <small id="company-position">{{ data.position }}</small>
      <span>
        <small class="sub-details">{{ data.timePosted }}</small>
        <small class="sub-details">{{ data.employmentStatus }}</small>
        <small class="sub-details">{{ data.location }}</small>
      </span>
    </div>
    <span id="vertical-line"></span>
    <div id="button-div">
      @for (requirement of data.requirements; track $index) {
      <button (click)="onAddFilter(requirement)">{{ requirement }}</button>
      }
    </div>
  </span>
</section>
