$breakpoints: (
  "xs": 325px,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1280px,
  "xlg": 1440px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}
@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}
@mixin xlg {
  @media (min-width: map-get($breakpoints, "xlg")) {
    @content;
  }
}

@mixin max-xs {
  @media (max-width: calc(map-get($breakpoints, "xs") - 1px)) {
    @content;
  }
}
@mixin max-sm {
  @media (max-width: calc(map-get($breakpoints, "sm") - 1px)) {
    @content;
  }
}
@mixin max-md {
  @media (max-width: calc(map-get($breakpoints, "md") - 1px)) {
    @content;
  }
}
@mixin max-lg {
  @media (max-width: calc(map-get($breakpoints, "lg") - 1px)) {
    @content;
  }
}
@mixin max-xl {
  @media (max-width: calc(map-get($breakpoints, "xl") - 1px)) {
    @content;
  }
}
@mixin max-xlg {
  @media (max-width: calc(map-get($breakpoints, "xlg") - 1px)) {
    @content;
  }
}

@mixin breakpoint-max($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}
@mixin breakpoint-min($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
