// Base
$white: var(--white) !default;
$dark: var(--dark) !default;
$light-green: #EFFAFA;
$deep-green: #5CA5A5;
$white:#ffffff;
$league-Bold:'League-Bold';
$league-Light:'League-Light';
$league-Medium:'League-Medium';
$black:#2B3939;
$ash:#7C8F8F;
$line-color: #B7C4C4;



