// Base
$white: var(--white) !default;
$dark: var(--dark) !default;
$light-green: #EFFAFA;
$deep-green: #5CA5A5;
$white:#ffffff;
$league-Bold:'League-Bold';
$league-Light:'League-Light';
$league-Medium:'League-Medium';
$black:#2B3939;
$ash:#7C8F8F;
$line-color: #B7C4C4;

// TYPOGRAPHY
$font-family-logo: var(--font-family-logo) !default;
$font-family-base: var(--font-family-base) !default;
$font-family-secondary: var(--font-family-secondary) !default;

// SHADOWS
$shadow-xs: var(--shadow-xs) !default;
$shadow-lg: var(--shadow-lg) !default;
$shadow-lg-1: var(--shadow-lg-1) !default;
$shadow-lg-2: var(--shadow-lg-2) !default;

// COLORS
$primary-gradient: var(--primary-gradient) !default;

//Primary
$primary: var(--primary) !default;
$primary-hover: var(--primary-hover) !default;
$primary-15: var(--primary-15) !default;
$primary-50: var(--primary-50) !default;
$primary-100: var(--primary-100) !default;
$primary-200: var(--primary-200) !default;
$primary-700: var(--primary-700) !default;

// Dark
$dark-700: var(--dark-700) !default;
$dark-800: var(--dark-800) !default;
$dark-900: var(--dark-900) !default;

//Gray
$gray: var(--gray) !default;
$gray-15: var(--gray-15) !default;
$gray-25: var(--gray-25) !default;
$gray-35: var(--gray-35) !default;
$gray-45: var(--gray-45) !default;
$gray-50: var(--gray-50) !default;
$gray-100: var(--gray-100) !default;
$gray-200: var(--gray-200) !default;
$gray-300: var(--gray-300) !default;
$gray-400: var(--gray-400) !default;
$gray-500: var(--gray-500) !default;
$gray-600: var(--gray-600) !default;
$gray-700: var(--gray-700) !default;
$gray-800: var(--gray-800) !default;
$gray-900: var(--gray-900) !default;
$gray-1100: var(--gray-1100) !default;

//Moss
$moss-100: var(--moss-100) !default;
$moss-800: var(--moss-800) !default;

//Blue
$blue-base: var(--blue-base) !default;

//Red
$error-50: var(--error-50) !default;
$error-500: var(--error-500) !default;
$error-700: var(--error-700) !default;
$error: var(--error) !default;
$error-light: var(--error-light) !default;

//Yellow
$warning-300: var(--warning-300) !default;

//Green
$success-25: var(--success-25) !default;
$success-50: var(--success-50) !default;
$success-100: var(--success-100) !default;
$success-300: var(--success-300) !default;
$success-500: var(--success-500) !default;
$success-700: var(--success-700) !default;
$success-800: var(--success-800) !default;

